

        h1{
            text-align: center;
            background-color: darksalmon;
            text-decoration: rgb(143, 214, 21);
    
        }
        p{text-align: center;}
        .hover {
            display: inline-block;
               
        
        
        }
        body{
            background-color: darkcyan;
        }
        
        